acres
certifi
charset-normalizer
ci-info
click
colorama
configobj
configparser
etelemetry
filelock
fitz
httplib2
idna
iniconfig
isodate
looseversion
lxml
networkx
nibabel
nipype
numpy
packaging
pandas
pathlib
pillow
pip
pluggy
prov
puremagic
pydot
PyMuPDF
pyparsing
PyPDF2
pytesseract
pytest
python-dateutil
pytz
pyxnat
rdflib
requests
scipy
simplejson
six
traits
typing_extensions
tzdata
urllib3
PyQt6>=6.6.1
qt-material>=2.14
